<header>
  <div class="nav container pt-2 pl-5">
    <li class="nav-item">
      <img
        src="../../assets/img/Logo.png"
        alt="logo"
        class="card-img"
        height="100px"
        style="border-radius: 100%"
      />
    </li>
  </div>
  <div class="container justify-content-center pt-4 denthay">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active text-white" routerLink="/home">Trang Chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/about">Giới Thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/contact">Liên Hệ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/serch">Phân Loại</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/shop"><i class="fa-solid fa-heart" style="color: #ff0000;"></i> Yêu Thích</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/login"
          ><i class="fa-solid fa-user"></i
        ></a>
      </li>
    </ul>
  </div>
</header>

