<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap"
  rel="stylesheet"
/>

<app-header></app-header>

<main class="main">
  <div class="row">
    <div class="col-8 mt-5">
      <h1 class="text-white text-center" id="textfonts">Khách Sạn Ếch Con</h1>
      <p class="text-white ml-5">
        Quá Trình Hình Thành : Trong thời kỳ Ai Cập cổ đại, những cơ sở lưu trú
        đầu tiên là những căn buồng trang bị thô sơ để phục vụ cho việc ngủ qua
        đêm của những khách bộ hành. Xung quanh các nhà thờ ở Ai Cập, ở Atxyri
        và tiếp đó là ở Hy Lạp đã dựng lên những ngôi nhà được trang trí thích
        hợp theo yêu cầu của khách – những người theo tôn giáo hay phi tôn giáo
        hoặc những người hành khách bình thường.
        <br />
        Ở Hy Lạp, trong các thành phố và dọc các con đường có những nhà trọ công
        cộng, tư nhân. Ngoài việc cho thuê phòng trọ, họ còn bán thêm thức ăn
        nữa.
        <br />
        Cơ sở lưu trú ở Hy Lạp và La Mã cổ đại mặc dù được trang bị thô sơ,
        nhưng đã đặt nền móng khởi nguồn cho kinh doanh khách sạn hiện đại. Các
        cơ sở này đã đưa ra những quy định về trách nhiệm bảo vệ tài sản cho
        khách, nhiệm vụ lập danh sách khách lưu trú; những điều luật cấm kỵ có
        thể gây tổn hại đến hoạt động của cơ sở.
        <br />
        Cuối thế kỷ XVIII đầu thế kỷ XIX là thời kỳ xuất hiện bước ngoặt của
        hoạt động kinh doanh lưu trú trong khách sạn, mang đúng nghĩa hiện đại
        của nó. Nguyên nhân của bước ngoặc này là sự hình thành và phát triển
        các hình thái kinh tế xã hội TBCN và đặc biệt là giai đoạn phát triển
        công nghiệp. Các trung tâm công, thương nghiệp mới với phương tiện giao
        thông đường thuỷ, đường sắt thuận lợi đã đòi hỏi sự phát triển nhanh
        chóng của ngành kinh doanh khách sạn.
        <br />
        Khoảng cuối thế kỷ XIX đầu thế kỷ XX, các tiến bộ khoa học kỹ thuật được
        áp dụng rộng rãi, và đã thâm nhập vào hoạt động kinh doanh của các khách
        sạn. Vì thế mà cạnh tranh trong lưu trú ngày càng trở nên gay gắt. Giai
        đoạn này cũng được xem là “ kỷ nguyên vàng” trong lịch sử phát triển của
        kinh doanh khách sạn.
        <br />
        Trong Chiến Tranh Thế Giới lần thứ nhất, kinh doanh khách sạn bị ngừng
        trệ. Một loạt khách sạn bị phá hủy, còn một số khác bị biến thành bệnh
        viện phục vụ cho quân đội. Còn trong Chiến Tranh Thế Giới lần thứ hai,
        việc kinh doanh khách sạn không những bị ngưng trệ, phá hủy, mà còn bị
        chiếm đóng, bị biến thành các khu trại lính.
        <br />
        Sau chiến tranh, đặc biệt là từ sau năm 1950 đã mở ra một thời kỳ mới,
        thuận lợi cho sự phát triển của kinh doanh khách sạn. Bên cạnh các nước
        có ngành kinh doanh khách sạn hiện đại điển hình như Thụy Sỹ, Áo, Pháp.
      </p>
    </div>
    <div class="col-4 mt-4">
      <img src="../../../assets/img/about.png" alt="" width="80%" />
    </div>
  </div>
</main>

<app-footer></app-footer>
