<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
  rel="stylesheet"
/>

<app-header></app-header>

<main class="main">
  <div class="row">
    <div class="col-8 mt-5">
      <h2 class="text text-white text-center">Phương Thức Liên Hệ</h2>
      <p class="text-white ml-5 my-5">
        Phone: 08 *** *** ***
        <br class="mt-5" />
        Email: hotelchuech@gmai.com
        <br />
        Address: Xóm Lang Thang - Thôn Trốn Nợ - Xã Hòa Bình - Huyện Linh Tinh -
        Thành Phố Quảng Bình
        <br />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59584.2566643674!2d105.55172441131187!3d21.032044131776633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313459ff8b98b879%3A0x49cfc90f11d0ff11!2zTmdoxKlhIFRyYW5nIExp4buHdCBTxKkgVGjhuqFjaCBUaOG6pXQ!5e0!3m2!1svi!2s!4v1690182114799!5m2!1svi!2s"
          width="800"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </p>
    </div>
    <div class="col-4 mt-4">
      <img src="../../../assets/img/contect.png" alt="" width="80%" />
      <img src="../../../assets/img/contect.png" alt="" width="80%" />
    </div>
  </div>
</main>

<app-footer></app-footer>
