<div class="container">
    <a href="/#/category/read-category" class="btn text-white btn-back">
      <i class="fa-sharp fa-solid fa-arrow-left"></i>
    </a>
    <h3 class="text-capitalize my-5">Add New Admin</h3>
    <form [formGroup]="adminFormPost" (ngSubmit)="handleSubmit()" >
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" formControlName="name" class="form-control" id=""  placeholder="Enter name">
        <div *ngIf="!adminFormPost.controls.name.valid" style="color: red;">name is require!</div>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" formControlName="email" class="form-control" id="" placeholder="Enter Email">
        <div *ngIf="!adminFormPost.controls.email.valid" style="color: red;">email is require!</div>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="text" formControlName="password" class="form-control" id="" placeholder="Enter password">
        <div *ngIf="!adminFormPost.controls.password.valid" style="color: red;">password is require!</div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!adminFormPost.valid">Submit</button>
    </form>
  </div>
  
